<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">   <!-- 얘는 들어가는 애이고 layout은 받는애이기 때문에 -->
                                        <!-- layout1과 다르게 layout1에 들어가려면 한줄을 더 추가 작성 해준다. -->
<head>
    <meta charset="UTF-8">
    <title>아이템 등록</title>
</head>
<body>


    <th:block layout:fragment="content">

        <form action="/admin/item/new" method="post" th:object="${itemDTO}" enctype="multipart/form-data">

            <div class="row">
                <div class="col-8 offset-2">
                    <div class="row">

                        <div class="col-12">
                            <div class="mb-3">
                                <label for="itemNm" class="form-label">상품명</label>
                                <input type="text" th:field="*{itemNm}" name="itemNm" class="form-control" id="itemNm">
                                <p th:if="${#fields.hasErrors('itemNm')}" th:errors="*{itemNm}" class="fieldError"></p>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="mb-3">
                                <label for="price" class="form-label">가격</label>
                                <input type="number" min="0" th:field="*{price}" name="price" class="form-control" id="price">
                                <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="fieldError"></p>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="mb-3">
                                <label for="stockNumber" class="form-label">재고 수량</label>
                                <input type="number" min="0" class="form-control" th:field="*{stockNumber}" id="stockNumber">
                                <p th:if="${#fields.hasErrors('stockNumber')}" th:errors="*{stockNumber}" class="fieldError"></p>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="mb-3">
                                <label for="itemDetail" class="form-label">상세설명</label>
                                <textarea class="form-control" th:field="*{itemDetail}" name="itemDetail" id="itemDetail" rows="3"></textarea>
                                <p th:if="${#fields.hasErrors('itemDetail')}" th:errors="*{itemDetail}" class="fieldError"></p>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="mb-3">
                                <label for="itemSellStatus" class="form-label">상품 판매 상태</label>
                                <select class="form-select" aria-label="Default select example" th:field="*{itemSellStatus}" id="itemSellStatus">
                                    <option value="SELL">판매중</option>
                                    <option value="SOLD_OUT">품절</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="mb-3 imgA">
                                <label for="formFile" class="form-label">대표이미지</label>
                                <!-- input태그의 type이 file일 경우에만 accept속성을 사용할 수 있고,"image/*"은 모든 타입의 이미지 파일이 허용된다는 뜻이다.  -->
                                <input class="form-control imgInput" id="formFile" accept="image/*" name="multipartFile" type="file">

                                <button class="btn btn-primary addimg" type="button">이미지추가</button>

                            </div>
                        </div>

                        <div class="col-12">
                            <div class="mb-3">
                                <button class="btn btn-primary">저장</button>
                                <button type="button" class="btn btn-dark">목록</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </form>

    </th:block>

    <th:block layout:fragment="script">
        <script>
            $(document).ready(function () {

                $("form").on("submit", function (e) {
                    if (itemNmValid()) {
                        return false;
                    }

                    if ($(".imgInput").first().val() == "") {
                        // $(".mainimg").val() == ""
                        // 대표이미지가 없을경우
                        alert("대표이미지를 넣어주세요")

                        return false;

                    }

                })

                function itemNmValid() {
                    let itemNmVal = $("#itemNm").val()
                    if (itemNmVal.length < 2 || itemNmVal.length >50) {
                        return true;
                    }
                }

                $(".addimg").on("click", function () {
                    let str = `<input class="form-control imgInput" name="multipartFile" type="file">`
                    $(".imgA").append(str);
                })

                // 이미지 파일 유효성
                function bindDomEvent() {
                    $(".imgInput").on("change", "impuit", function () {
                        // split("\\") = \\기준으로 자른다 , pop() = 배열의 마지막 요소를 제거한 후, 제거한 요소를 반환
                        let fileName = $(this).val().split("\\").pop()  // 이미지 파일명
                        // 이미지 파일명의 확장자를 추출해서 확인한다.
                        // tiger.jpg

                        let fileExt = fileName.substring(fileName.lastIndexOf(".") + 1 )

                        // 확장자 소문자로 변환
                        fileExt = fileExt.toLowerCase()

                        if (fileExt != "jpg" && fileExt != "jpeg" && fileExt != "gif" && fileExt != "png" && fileExt != "bmp") {
                            // 이미지 타입이 아니라면
                            $(this).val()
                            alert("이미지 파일만 넣어주세요")
                            return false;

                        }

                    })
                }

            })

        </script>
    </th:block>

</body>
</html>